template(name="clickCounters")
	button Click Me

	p You&apos;ve pressed a click button {{counter}} times.
	
	h2 Middle or RightClick on a click counter to open its URL.
	
	each clickCounters
		button.increment-count(class="{{getClass}}") {{count}}
	button.add-new-click-counter Add Click Counter
	button.add-20-new-click-counters Add 20 Click Counters

template(name="clickCounter")
	h1 One Click Counter
	button.increment-count Click Me {{count}}
