template(name="clickCounters")
	button Click Me

	p You&apos;ve pressed a button {{counter}} times.
	
	h2 Click Counters
	each clickCounters
		button.increment-count {{count}}
	button.add-new-click-counter Add Click Counter

	input#number-of-click-counters-to-add(type="number" value="{{numberOfClickCountersToAdd}}")
	button.add-many-new-click-counters Add {{numberOfClickCountersToAdd}} Click Counters

template(name="clickCounter")
	h1 One Click Counter
	button.increment-count Click Me {{count}}
