template(name="clickCounter")
	button.simple-click-button Click Me

	p You&apos;ve pressed the above or below buttons: {{counter}} times since last reload.
	
	each clickCounters
		button.increment-count {{count}}
	button.add-new-click-counter Add Click Counter
	button.add-20-new-click-counters Add 20 Click Counters
