template(name="baseLayout")
	.container.base-layout-header
		+appHeader
		h3 By Jaz Singh
	+yield
	
template(name="appHeader")
	.app-header
		h1 
			a(href="/") Welcome to the 
				if meetingGroup
					span.meeting-group 
						| {{meetingGroup.name}}
				else
					form#meeting-group
						input(id="name" placeholder="insert your meeting group")
				| Presentation
				
